*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    font-size: 1.2rem;
    height: 100%;
    width: 100vw;
}
.container {
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #fcfcfc;
    border: 0.2px solid;
    min-height: 400px;
    max-width: 400px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 12px, 14px 11px -1px rgba(0, 0, 0, 0.3);
}
.input-ui {
    /* background-color: aqua; */
    background-image: linear-gradient(350deg, aqua 0%, rgb(0, 132, 255) 75% );
    max-height: 7em;
    width: 100%;
    text-align: center;
    padding: 1.2rem;

}
h3 {
    color: #fff;
    padding-bottom: 10px;
}
.input-ui input[type=text]{
    padding: 6px;
    font-size: 17px;
    border-radius: 3px;
    border: none;
}

input:focus{
    outline: none;
}
input[type= submit]{
    padding: 7px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: blue;
    transition: all 0.4s ease-in-out;
    
}

input[type= submit]:hover{
    background-color: blueviolet;
    
    


}
.output-ui{
    padding: 10px;
    overflow-y: scroll;

}

.search {
    padding: 6px;
    border-radius: 5px;
    border: 0.5px solid;
    font-size: 16px;
    margin-bottom: 20px;
    margin-right: 12px;
}
/* .filter {
    cursor: pointer;
    background-color: aquamarine;
   
} */
.output-ui ul {
    list-style: none;
}
.output-ui ul li{
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1px solid;
    margin-bottom: 10px;

}
.output-ui ul li a {
    text-decoration: none;
    cursor: pointer;
    padding-left: 8px;
}
.clear {
    background-color: coral;
    width: 70px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}
.clear:hover {
    background-color: chocolate;

}

.msg {
    
    background-color: beige;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);

}


