:root {
    --dark-gray: rgba(43,39,39);
    --light-gray: rgb(97, 97, 97);
    --light-blue: rgb(74, 74, 218);
    --orange: orange;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    font-family: sans-serif;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator {
    background-color: var(--dark-gray);
    max-width: 400px;
    width: 88%;
    box-shadow: 10px 12px 10px  rgba(5px, 0, 14, 0.4);
    
    
}
.output{
    /* border-radius: 5px; */
    background-color: #e2e1e1;
    text-align: right;
    padding: 5px;
    position: relative;
    cursor: not-allowed;
}
.output p {
    text-align: left;
    color: var(--orange);
}
.display-1 {
    opacity: 0.4;
}
.display-2 {
    color:var(--orange) ;
    font-size: 23px;

}
.display-3 {
    position: absolute;
    left:10px;
    bottom: 0;
    opacity: 0.5;
    font-size: 16px;
    margin-bottom: 10px;
}

.input{
    color: #fff;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(5, 1fr); */
   

    
    
}
.button {
    border: 2px solid rgb(36, 34, 34);
    background-color: var(--dark-gray);
    border-radius: 10px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.number:hover{
        background-color: rgb(80, 78, 77);
        transition: 0.2s all ease-in-out;

}

.symbol {
    background-color: var(--light-gray);
}
.symbol:hover{
    background-color: rgb(49, 49, 49);
    transition: 0.2s all ease-in-out;
}
.c, .ce {
    background-color: var(--light-blue);
}
.c:hover, .ce:hover{
    background-color: rgb(77, 77, 167);
    transition: 0.2s all ease-in-out;
}

.zero {
    /* grid-column: 1/3; */
}
.equal {
    background-color: var(--orange);
}

.equal:hover{
    background-color: rgb(196, 140, 38);
    transition: 0.2s all ease-in-out;
}