*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background-color: blueviolet;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.input{
    position: absolute;
}
.input input {
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    outline: none;
    font-size: 17px;


}
::placeholder{
    color: #fcfcfc;
    font-size: large;
}
.msg {
    margin-top: 10px;
    color: #fcfcfc;
    font-size: 20px;
    display: none;
}